body {
  font: 16px/1.4 sans-serif;
  max-width: 1000px;
  margin: 2em auto;
}

label {
display: block;
margin: 0 0 1em;
color: #333;
}

.editor {
  margin: 0 0 3em;
}
code {
background: #EEE;
padding: 0 .3em;
border-radius: 3px;
}
.editor__area {
  font: 14px/1.4 monospace;
  padding: 10px 15px;
  min-height: 7em;
  border: 1px solid gray;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.variants {
margin:0;
padding: 0;
}
.exercise {
font-size: 21px;
padding: 0 0 10px;
}
.gap {
display: inline-block;
margin: 0 .3em;
  position: relative;
}
.gap__text {
  font-weight: bold;
  background: lightgray;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding:0 10px;
  cursor: pointer;
}
.gap__text_right {
border-color: green;
background: green;
color: white;
}
.gap__text_wrong {
border-color: red;
background: red;
color: white;
}
.gap__dropdown {
  position: absolute;
  z-index: 10;
  background: white;
  display: none;
  padding:0;
  margin:0;
  list-style-type: none;
  box-shadow: 1px 1px 3px #CCC;
  border: 1px solid #EEE;
  border-radius: 5px;
}
.gap__dropdown_visible {
display: block;
}
.gap__item {
padding:0;
margin:0;
white-space: nowrap;
cursor:pointer;
padding: 0 5px;
}
.gap__item:hover {
background: #EEE;
}
.variants li {
  display: inline-block;
  background: blue;
  color: white;
  margin: 0 5px 0 0;
  padding: 5px 10px;
  border-radius: 20px;
}
.out-arrow {
font-size: 32px;
text-align: center;
}
.out {
background: #EEE;
padding: 10px;
overflow-x: scroll;
}
.actions {
margin: 2em 0;
}
.btn {
background: black;
border-radius: 5px;
border: none;
color: white;
font-size: 18px;
padding: 10px 15px;
cursor: pointer;
}
.btn:disabled {
  background: #CCC;
}
.response {
margin-left: 1em;

}